/************************Nav-bar*********************/

.nav-title{
    /* text-shadow: 2px 2px 100px rgb(255, 255, 255); */
    margin-left: 80px;
    font-size: xx-large;
    /* font-variant-caps: unicase; */
    /* font-weight: 450; */
  }
   
  nav a {
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
  }
  .navbar{
    margin-left: auto;
    text-align: center;
  }
  .text_color{
    text-shadow: 1px 1px 10px rgb(253, 253, 253);
    color: rgb(255, 255, 255);
    font-size:large;
    /* margin-left: 20px; */
    /* border: #fff solid; */
  }
  .nav-color{
   /* background-color:rgba(0, 0, 0, 0.678); */
   background-color:rgb(0, 0, 0);
   margin-top: -7px;
   height: 55px;
   /* background-image: ;*/
  }
  /* .menuimg{
    width: 70px;
  } */
  
  .menu_bar{
    inline-size : auto;
    text-align-last: justify;
    /* border: #000000ac solid; */
    border-bottom-style: solid;
    height: 50px;
    width: auto;
    background-color:#354f52a4;
    font-family: serif;
    text-align: center;
    /* padding-top: 4px; */
    margin-top: -8px;
    
  }
  
  .padding_menu{
    padding-left: 220px;
  
  }
  
  
  .blockscreen {
    padding: 20px;
    /* border: 1px solid white; */
    inline-size: fit-content;
  }
  
  .title {
    text-align:center;
  }
  /*home*/
  .main_content{
    /* border: 1px solid white; */
    background-image: url("img1.png");
    height: 90vh;
    padding: 100px;
    text-align: center;
    color: white;
    
}

.heading{
    /* border: 1px solid white; */
    text-shadow: 5px 2px #000;
    color: rgb(255, 0, 0);
  
    height: 16rem;
    letter-spacing: 0.9rem;
    font-size: 4rem;
    padding-top: 2rem;
}
.para{
    font-size: 1.4rem;
    background-color: #5e5e5ee2;
    color: rgba(255, 255, 255, 0.765);
    box-shadow: 8px -51px 492px 157px #5e5e5e;
    
}
button{
    background-color: #9702fa;
    border: 0px;
    font-weight: bolder;
    font-size: larger;
    border-radius: 0.2rem;
    width: 11rem;
    height: 3.6rem;
    color: white;
    

}
  